body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:627px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Sitka Display Bold', 'Sitka Display';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FF0000;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:627px;
  font-family:'Sitka Display Bold', 'Sitka Display';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FF0000;
}
#u766_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:138px;
  word-wrap:break-word;
}
#u767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:0px;
  width:859px;
  height:60px;
  font-size:18px;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:855px;
  word-wrap:break-word;
}
#u768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:125px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:60px;
  width:687px;
  height:125px;
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:140px;
  width:90px;
  height:36px;
  font-size:18px;
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:441px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:186px;
  width:687px;
  height:441px;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:567px;
  background:inherit;
  background-color:rgba(255, 255, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:60px;
  width:172px;
  height:567px;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:573px;
  width:116px;
  height:36px;
  font-size:18px;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:70px;
  width:607px;
  height:72px;
  font-size:28px;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:603px;
  word-wrap:break-word;
}
#u774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:230px;
  width:297px;
  height:67px;
  font-size:20px;
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:293px;
  word-wrap:break-word;
}
#u775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:297px;
  width:297px;
  height:67px;
  font-size:20px;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:293px;
  word-wrap:break-word;
}
#u776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:364px;
  width:297px;
  height:67px;
  font-size:20px;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:293px;
  word-wrap:break-word;
}
#u777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:230px;
  width:297px;
  height:67px;
  font-size:20px;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:293px;
  word-wrap:break-word;
}
#u778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:297px;
  width:297px;
  height:67px;
  font-size:20px;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:293px;
  word-wrap:break-word;
}
#u779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:364px;
  width:297px;
  height:67px;
  font-size:20px;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:293px;
  word-wrap:break-word;
}
#u780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:431px;
  width:297px;
  height:67px;
  font-size:20px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:293px;
  word-wrap:break-word;
}
