body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:627px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Sitka Display Bold', 'Sitka Display';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FF0000;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:627px;
  font-family:'Sitka Display Bold', 'Sitka Display';
  font-weight:700;
  font-style:normal;
  font-size:72px;
  color:#FF0000;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:138px;
  word-wrap:break-word;
}
#u957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:859px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:0px;
  width:859px;
  height:60px;
  font-size:18px;
}
#u957_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:855px;
  word-wrap:break-word;
}
#u958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:125px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:60px;
  width:687px;
  height:125px;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:140px;
  width:90px;
  height:36px;
  font-size:18px;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  word-wrap:break-word;
}
#u960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:441px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:186px;
  width:687px;
  height:441px;
  text-align:left;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:567px;
  background:inherit;
  background-color:rgba(255, 255, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:60px;
  width:172px;
  height:567px;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:857px;
  top:573px;
  width:116px;
  height:36px;
  font-size:18px;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:70px;
  width:607px;
  height:72px;
  font-size:28px;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:603px;
  word-wrap:break-word;
}
#u964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:right;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:230px;
  width:124px;
  height:67px;
  font-size:20px;
  text-align:right;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:120px;
  word-wrap:break-word;
}
#u965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:right;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:297px;
  width:124px;
  height:67px;
  font-size:20px;
  text-align:right;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:120px;
  word-wrap:break-word;
}
#u966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:right;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:364px;
  width:124px;
  height:67px;
  font-size:20px;
  text-align:right;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:120px;
  word-wrap:break-word;
}
#u967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:right;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:231px;
  width:89px;
  height:67px;
  font-size:20px;
  text-align:right;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:right;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:298px;
  width:89px;
  height:67px;
  font-size:20px;
  text-align:right;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:right;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:365px;
  width:89px;
  height:67px;
  font-size:20px;
  text-align:right;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:85px;
  word-wrap:break-word;
}
#u970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:right;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:431px;
  width:124px;
  height:67px;
  font-size:20px;
  text-align:right;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:120px;
  word-wrap:break-word;
}
#u971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:right;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:431px;
  width:129px;
  height:67px;
  font-size:20px;
  text-align:right;
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:125px;
  word-wrap:break-word;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:247px;
  width:163px;
  height:34px;
}
#u972_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:314px;
  width:163px;
  height:34px;
}
#u973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:381px;
  width:163px;
  height:34px;
}
#u974_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:448px;
  width:163px;
  height:34px;
}
#u975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:248px;
  width:163px;
  height:34px;
}
#u976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:382px;
  width:163px;
  height:34px;
}
#u977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:453px;
  width:24px;
  height:24px;
  color:#949494;
}
#u978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:453px;
  width:24px;
  height:24px;
  color:#949494;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:650px;
  top:445px;
  width:33px;
  height:40px;
  font-size:20px;
  text-align:left;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:445px;
  width:33px;
  height:40px;
  font-size:20px;
  text-align:left;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  word-wrap:break-word;
}
#u982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:292px;
  width:170px;
  height:31px;
  font-size:14px;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:323px;
  width:170px;
  height:31px;
  font-size:14px;
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:354px;
  width:170px;
  height:31px;
  font-size:14px;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:385px;
  width:170px;
  height:31px;
  font-size:14px;
}
#u985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u986_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:416px;
  width:170px;
  height:31px;
  font-size:14px;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u987_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:447px;
  width:170px;
  height:31px;
  font-size:14px;
}
#u987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u988_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:384px;
  width:170px;
  height:31px;
  font-size:14px;
}
#u988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u989_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:415px;
  width:170px;
  height:31px;
  font-size:14px;
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u990_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:482px;
  width:170px;
  height:31px;
  font-size:14px;
}
#u990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u991_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(148, 148, 148, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:513px;
  width:170px;
  height:31px;
  font-size:14px;
}
#u991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:314px;
  width:189px;
  height:34px;
}
#u992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
}
#u992_input:disabled {
  color:grayText;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:451px;
  width:26px;
  height:26px;
}
#u993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
